---
layout: default
---

  <div class="fixed top-0 right-0 p3 nav-item">
    <span class="caps" style="padding-right:1.5vw;"><a href="/#about">About</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#contact">Contact</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#team">Team</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#book">Reserve your seat</a></span>
 
  </div>


  <div id="start" class="bg-start">
   <header class="container px0 py4">
      <div class="clearfix mxn2 py4">
         <div class="col-4 sm-col sm-col-4 px2 py4">
            <img class="" src="./image/logo-enspiral.png" width="250" alt="Enspiral Logo"> 
        </div>
       <div class="sm-col sm-col-8 px4 py2">
            <h1 id="name" class="responsive-h1 caps name py2">Enspiral Org Academy</h1>
            <h2 class="responsive-h2">September 5-8th, Belgium</h2>
            <p class="mt2">An immersive 4-day practical training in decentralised organising, self-managing teams and distributed governance.</p>
            <p class="mt2"><strong>Only 30 spaces available!</strong></p>
           <a target="_blank" href="https://www.thehum.org/events-1/enspiral-org-academy" class="button long caps mt2">Book Now!</a>
        </div>
      </div>
    </header>
  </div>

{{content}}